.u-Above-2 > * {
  margin-top: 16px;
}

.u-Above-p2 > * {
  padding-top: 16px;
}

.u-Below-2 > * {
  margin-bottom: 16px;
}

.u-Below-p2 > * {
  margin-bottom: 16px;
}

.u-Above-3 > * {
  margin-top: 24px;
}

.u-Above-p3 > * {
  padding-top: 24px;
}

.u-Below-3 > * {
  margin-bottom: 24px;
}

.u-Below-p3 > * {
  margin-bottom: 24px;
}

.u-Above-4 > * {
  margin-top: 32px;
}

.u-Above-p4 > * {
  padding-top: 32px;
}

.u-Below-4 > * {
  margin-bottom: 32px;
}

.u-Below-p4 > * {
  margin-bottom: 32px;
}

.u-Above-5 > * {
  margin-top: 40px;
}

.u-Above-p5 > * {
  padding-top: 40px;
}

.u-Below-5 > * {
  margin-bottom: 40px;
}

.u-Below-p5 > * {
  margin-bottom: 40px;
}

.u-Above-6 > * {
  margin-top: 48px;
}

.u-Above-p6 > * {
  padding-top: 48px;
}

.u-Below-6 > * {
  margin-bottom: 48px;
}

.u-Below-p6 > * {
  margin-bottom: 48px;
}

.u-Above-7 > * {
  margin-top: 56px;
}

.u-Above-p7 > * {
  padding-top: 56px;
}

.u-Below-7 > * {
  margin-bottom: 56px;
}

.u-Below-p7 > * {
  margin-bottom: 56px;
}

.u-Above-8 > * {
  margin-top: 64px;
}

.u-Above-p8 > * {
  padding-top: 64px;
}

.u-Below-8 > * {
  margin-bottom: 64px;
}

.u-Below-p8 > * {
  margin-bottom: 64px;
}

.u-Above-9 > * {
  margin-top: 72px;
}

.u-Above-p9 > * {
  padding-top: 72px;
}

.u-Below-9 > * {
  margin-bottom: 72px;
}

.u-Below-p9 > * {
  margin-bottom: 72px;
}

.u-Above-10 > * {
  margin-top: 80px;
}

.u-Above-p10 > * {
  padding-top: 80px;
}

.u-Below-10 > * {
  margin-bottom: 80px;
}

.u-Below-p10 > * {
  margin-bottom: 80px;
}

.f-txt-2 {
  font-size: 16px;
}

.f-txt-3 {
  font-size: 24px;
}

.f-txt-4 {
  font-size: 32px;
}

.f-txt-5 {
  font-size: 40px;
}

.f-txt-6 {
  font-size: 48px;
}

.f-txt-7 {
  font-size: 56px;
}

.f-txt-8 {
  font-size: 64px;
}
